form
{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
}

#select-by
{
    flex-direction: row;
    align-items: baseline;
    border: 1px solid red;
}

#select-by *
{
    margin: auto;
}

#filtrer input+label
{
    margin-top: 1em;
}