img
{
    transition-property: background-color;
    transition-duration: 0.25s;
}

img:hover
{
    background-color: rgba(0, 0, 0, 0.2);
}

div
{
    width: fit-content;
}

#rangees
{
    border: 1px solid green;
}

#melangees
{
    border: 1px solid red;
}