main {
    background-color: #dcdcdc;
}

.main-title {
    text-align: center;
}

.col-8 {
    background-color: #e9ecef;
}

.col-2, .col-1 {
    background-color: #ffffff;
}

button:hover {
    background-color: rgba(0,0,0,0.1);
}